In [1]:
# a list of grades
my_grades = ['b', 'c', 'b', 'd',]

In [2]:
# import dependency
import pandas as pd

# convert grades to series
my_grades = pd.Series(my_grades)
my_grades

0    b
1    c
2    b
3    d
dtype: object

In [3]:
my_grades.map({'b' : 'a', 'c' : 'b', 'd' : 'c'})

0    a
1    b
2    a
3    c
dtype: object

In [4]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [5]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [6]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [2]:
# create a class
class Cat:
    def __init__(self, name):
        self.name = name
        
first_cat = Cat("Felix")
print(first_cat.name)

Felix

In [3]:
second_cat = Cat("Garfield")
print(first_cat.name)
print(second_cat.name)

Felix
Garfield

In [4]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
        
    def bark(self):
        return self.sound + " " + self.sound

In [5]:
first_dog = Dog('Fido', "brown", "Woof!")
print(first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'Woof! Woof!'

In [6]:
second_dog = Dog("Lady", "blonde", "arf!")
second_dog.bark()

'arf! arf!'